#pragma once

#include <string>
#include <vector>
#include <optional>
#include <cstdint>
#include <memory>

#include <nlohmann/json.hpp>

namespace nlohmann {
    template <typename T>
    struct adl_serializer<std::optional<T>> {
        static void to_json(json& j, const std::optional<T>& opt) {
            if (opt.has_value()) {
                j = *opt;
            } else {
                j = nullptr;
            }
        }

        static void from_json(const json& j, std::optional<T>& opt) {
            if (j.is_null()) {
                opt = std::nullopt;
            } else {
                opt = j.get<T>();
            }
        }
    };

    template <typename T>
    struct adl_serializer<std::shared_ptr<T>> {
        static void to_json(json& j, const std::shared_ptr<T>& ptr) {
            if (ptr) {
                j = *ptr;
            } else {
                j = nullptr;
            }
        }

        static void from_json(const json& j, std::shared_ptr<T>& ptr) {
            if (j.is_null()) {
                ptr = nullptr;
            } else {
                ptr = std::make_shared<T>();
                *ptr = j.get<T>();
            }
        }
    };
}

{% if namespace %}
{% set ns_list = namespace.split('::') %}
{% for ns in ns_list %}
namespace {{ ns }} {
{% endfor %}
{% endif %}

{% for enum in enums %}
enum class {{ enum.name }} {
    {% for val in enum.enum_values %}
    {{ val | upper }},
    {% endfor %}
};

NLOHMANN_JSON_SERIALIZE_ENUM( {{ enum.name }}, {
    {% for val in enum.enum_values %}
    { {{ enum.name }}::{{ val | upper }}, "{{ val }}" },
    {% endfor %}
})

{% endfor %}
{% for struct in structs %}
/**
 * {{ struct.description or "No description provided." }}
 */
struct {{ struct.name }} {
    {% for prop in struct.properties %}
    {{ prop.type }} {{ prop.name }}{% if prop.default is not none %} = {{ prop.default }}{% endif %};{% if prop.description %} // {{ prop.description }}{% endif %}

    {% endfor %}

    friend void to_json(nlohmann::json& j, const {{ struct.name }}& p) {
        j = nlohmann::json{
            {% for prop in struct.properties %}
            {"{{ prop.name }}", p.{{ prop.name }}},
            {% endfor %}
        };
    }

    friend void from_json(const nlohmann::json& j, {{ struct.name }}& p) {
        {% for prop in struct.properties %}
        if (j.contains("{{ prop.name }}")) {
            p.{{ prop.name }} = j.at("{{ prop.name }}").get<{{ prop.type }}>();
        }
        {% endfor %}
    }
};

{% endfor %}
{% if namespace %}
{% for ns in ns_list | reverse %}
} // namespace {{ ns }}
{% endfor %}
{% endif %}