{% for enum in enums %}
export enum {{ enum.name }} {
    {% for val in enum.enum_values %}
    {% if val is string %}
    {{ val | upper }} = "{{ val }}",
    {% else %}
    VALUE_{{ val }} = {{ val }},
    {% endif %}
    {% endfor %}
}

{% endfor %}
{% for interface in interfaces %}
/**
 * {{ interface.description or "No description provided." }}
 */
export interface {{ interface.name }} {
    {% for prop in interface.properties %}
    /** {{ prop.description or "No description provided." }} */
    {{ prop.name }}{{ '?' if not prop.required }}: {{ prop.type }};
    {% endfor %}
}

export namespace {{ interface.name }} {
    export function fromJson(json: string | object): {{ interface.name }} {
        if (typeof json === 'string') {
            return JSON.parse(json) as {{ interface.name }};
        }
        return json as {{ interface.name }};
    }
    
    export function toJson(obj: {{ interface.name }}): string {
        return JSON.stringify(obj);
    }
}

{% endfor %}
